<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Pavel Control Panel</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.ico">
</head>
<body>
  <h1>Control Panel</h1>
  <p>Welcome to Pavel control panel!</p>
  <form action = "runcommand" method="POST">
    <h2>Quick Actions:</h2>
    <input type = "radio" name = "quickactions" id = "updateserver" value = "Update Server"/>
    <label for = "updateserver">Update Server</label><br><br>
    <input type="submit" name = "submit" value = "Perform Action"/>
  </form>
</body>
</html>